---
import { getCollection } from "astro:content";
import type { GetStaticPathsOptions } from "astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import getUniqueCategories from "@/utils/getUniqueCategories";
import getPostsByCategory from "@/utils/getPostsByCategory";
import type { CategorySlug } from "@/utils/categoryConfig";
import { SITE } from "@/config";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getCollection("blog");
  const categories = getUniqueCategories(posts);

  return categories.flatMap(({ category, categoryName }) => {
    const categoryPosts = getPostsByCategory(
      posts,
      category as CategorySlug
    );

    return paginate(categoryPosts, {
      params: { category },
      props: { categoryName },
      pageSize: SITE.postPerPage,
    });
  });
}

const { page } = Astro.props;
---

<Layout title={`${SITE.title}`}>
  <Header />
  <main id="main-content" class="app-layout pt-4 pb-8">
    <ul class="divide-y divide-border">
      {page.data.map(data => <Card {...data} />)}
    </ul>
  </main>
  <Pagination {page} />
</Layout>
