---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Tag from "@/components/Tag.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";

const posts = await getCollection("blog");
let tags = getUniqueTags(posts);
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header />
  <main id="main-content" class="app-layout pt-8 pb-4">
    <h1 class="text-2xl font-semibold text-foreground sm:text-3xl">Tags</h1>
    <ul class="mt-6 flex flex-wrap gap-3">
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} />)}
    </ul>
  </main>
</Layout>
