---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Category from "@/components/Category.astro";
import getUniqueCategories from "@/utils/getUniqueCategories";
import { SITE } from "@/config";

const posts = await getCollection("blog");
const categories = getUniqueCategories(posts);
---

<Layout title={`Categories | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Categories" pageDesc="All the categories used in posts.">
    <ul class="flex flex-wrap gap-3">
      {categories.map(({ category, categoryName, count }) => (
        <Category {category} categoryName={`${categoryName} (${count})`} />
      ))}
    </ul>
  </Main>
</Layout>
