---
import { withBase } from "@/utils/getBase";

type Props = {
  category: string;
  categoryName: string;
  size?: "sm" | "lg";
};

const { category, categoryName, size = "lg" } = Astro.props;
---

<li class="inline-block">
  <a
    href={withBase(`/posts/category/${category}/`)}
    transition:name={`category-${category}`}
    class:list={[
      "rounded-full bg-accent-bg text-accent hover:bg-accent hover:text-white transition-colors",
      { "px-2.5 py-0.5 text-xs": size === "sm" },
      { "px-3 py-1 text-sm": size === "lg" },
    ]}
  >
    {categoryName}
  </a>
</li>
