---
import { withBase } from "@/utils/getBase";

type Props = {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
};

const { tag, tagName, size = "lg" } = Astro.props;
---

<li class="inline-block">
  <a
    href={withBase(`/tags/${tag}/`)}
    transition:name={tag}
    class:list={[
      "rounded-full bg-accent-bg text-accent hover:bg-accent hover:text-white transition-colors",
      { "px-2.5 py-0.5 text-xs": size === "sm" },
      { "px-3 py-1 text-sm": size === "lg" },
    ]}
  >
    #{tagName}
  </a>
</li>
